div.board {
    display: none;
}

/* board */
.tiles {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.tiles.player {
    background-color: #b00000;
}

.tiles.opponent {
    background-color: #00b000;
}

.lubangmenggali {
    background-color: #542C00;
    text-shadow: 3px 3px 3px #000;
    color: #fff;
    font-size: 200%;
}

.names {
    text-shadow: 3px 3px 3px #777;
    color: #000;
    font-size: 200%;
}

.status {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 1em;
    width: 250px;
}

.status .text {
    background-color: #400;
    text-shadow: 3px 3px 3px #777;
    color: #fff;
}
